<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>cfml</string>
		<string>cfm</string>
		<string>cfc</string>
	</array>
	<key>name</key>
	<string>CFML</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>(?i)(?=^\s*(/\*|//|import\b|(component|interface)(\s+|{)))</string>
			<key>contentName</key>
			<string>source.cfml.script</string>
			<key>end</key>
			<string>(?=not)possible</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.cfml.script</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>#comments</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;cf(component|interface)\b)</string>
			<key>contentName</key>
			<string>source.cfml</string>
			<key>end</key>
			<string>(?=not)possible</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#cfcomponent</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfinterface</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?=\S)</string>
			<key>contentName</key>
			<string>text.html.cfml</string>
			<key>end</key>
			<string>(?=not)possible</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#cfml-tags</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.html.cfml</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>cfcomponent</key>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;cfcomponent)</string>
			<key>end</key>
			<string>(?i)(&lt;/)(cfcomponent)(&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml storage.type.class.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cfcomponent)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml storage.type.class.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>&gt;</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.tag.cfml meta.class.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>begin</key>
							<string>(?i)\b(extends)\s*(=)\s*"</string>
							<key>beginCaptures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>name</key>
									<string>storage.modifier.extends.cfml</string>
								</dict>
								<key>2</key>
								<dict>
									<key>name</key>
									<string>punctuation.separator.key-value.cfml</string>
								</dict>
							</dict>
							<key>contentName</key>
							<string>meta.class.inheritance.cfml</string>
							<key>end</key>
							<string>"</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>match</key>
									<string>([_$a-zA-Z][$\w]*)</string>
									<key>name</key>
									<string>entity.other.inherited-class.cfml</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfml-tags</string>
				</dict>
			</array>
		</dict>
		<key>cffunction</key>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;cffunction)</string>
			<key>end</key>
			<string>(?i)(&lt;/)(cffunction)(&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml storage.type.function.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cffunction)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml storage.type.function.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>&gt;</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.tag.cfml meta.function.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>captures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>name</key>
									<string>entity.other.attribute-name.cfml</string>
								</dict>
								<key>2</key>
								<dict>
									<key>name</key>
									<string>punctuation.separator.key-value.cfml</string>
								</dict>
								<key>3</key>
								<dict>
									<key>name</key>
									<string>string.quoted.double.cfml</string>
								</dict>
								<key>4</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.begin.cfml</string>
								</dict>
								<key>5</key>
								<dict>
									<key>name</key>
									<string>entity.name.function.cfml</string>
								</dict>
								<key>6</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.end.cfml</string>
								</dict>
							</dict>
							<key>match</key>
							<string>(?i)\b(name)\s*(=)\s*((")([_$a-zA-Z][$\w]*)("))</string>
						</dict>
						<dict>
							<key>captures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>name</key>
									<string>entity.other.attribute-name.cfml</string>
								</dict>
								<key>2</key>
								<dict>
									<key>name</key>
									<string>punctuation.separator.key-value.cfml</string>
								</dict>
								<key>3</key>
								<dict>
									<key>name</key>
									<string>string.quoted.double.cfml</string>
								</dict>
								<key>4</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.begin.cfml</string>
								</dict>
								<key>5</key>
								<dict>
									<key>name</key>
									<string>storage.modifier.cfml</string>
								</dict>
								<key>6</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.end.cfml</string>
								</dict>
							</dict>
							<key>match</key>
							<string>(?i)\b(access)\s*(=)\s*((")([_$a-zA-Z][$\w]*)("))</string>
						</dict>
						<dict>
							<key>captures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>name</key>
									<string>entity.other.attribute-name.cfml</string>
								</dict>
								<key>2</key>
								<dict>
									<key>name</key>
									<string>punctuation.separator.key-value.cfml</string>
								</dict>
								<key>3</key>
								<dict>
									<key>name</key>
									<string>string.quoted.double.cfml</string>
								</dict>
								<key>4</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.begin.cfml</string>
								</dict>
								<key>6</key>
								<dict>
									<key>name</key>
									<string>storage.type.return-type.void.cfml</string>
								</dict>
								<key>7</key>
								<dict>
									<key>name</key>
									<string>storage.type.return-type.primitive.cfml</string>
								</dict>
								<key>8</key>
								<dict>
									<key>name</key>
									<string>storage.type.return-type.object.cfml</string>
								</dict>
								<key>9</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.end.cfml</string>
								</dict>
							</dict>
							<key>match</key>
							<string>(?x)(?i)
  \b(returntype)\s*(=)\s*((")(
  (void)
  |
  (any|array|binary|boolean|component|date|guid|numeric|query|string|struct|xml|uuid) # return-type.primitive
  |
  ([A-Za-z0-9_\.$]+) #return-type component/object (may need additional tokens)
)("))</string>
						</dict>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?&lt;=&gt;)</string>
					<key>end</key>
					<string>(?i)(?=&lt;/cffunction&gt;)</string>
					<key>name</key>
					<string>text.html.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#cfml-tags</string>
						</dict>
						<dict>
							<key>include</key>
							<string>text.html.cfml</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>cfif</key>
		<dict>
			<key>begin</key>
			<string>(?i)(&lt;)(cfif|cfelseif)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.cfml.script</string>
			<key>end</key>
			<string>&gt;</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.cfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.cfml.script</string>
				</dict>
			</array>
		</dict>
		<key>cfinterface</key>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;cfinterface)</string>
			<key>end</key>
			<string>(?i)(&lt;/)(cfinterface)(&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml storage.type.interface.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cfinterface)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml storage.type.interface.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>&gt;</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.tag.cfml meta.interface.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>begin</key>
							<string>(?i)\b(extends)\s*(=)\s*"</string>
							<key>beginCaptures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>name</key>
									<string>storage.modifier.extends.cfml</string>
								</dict>
								<key>2</key>
								<dict>
									<key>name</key>
									<string>punctuation.separator.key-value.cfml</string>
								</dict>
							</dict>
							<key>contentName</key>
							<string>meta.interface.inheritance.cfml</string>
							<key>end</key>
							<string>"</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>match</key>
									<string>([_$a-zA-Z][$\w]*)</string>
									<key>name</key>
									<string>entity.other.inherited-interface.cfml</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfml-tags</string>
				</dict>
			</array>
		</dict>
		<key>cfml-tags</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comments</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cffunction</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfoutput</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfquery</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfif</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#tags-with-script</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfscript</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#cfproperty</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cf[a-z]+)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(/?&gt;)</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml</string>
						</dict>
						<key>3</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(?i)(&lt;/)(cf[a-z]+)(&gt;)</string>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
			</array>
		</dict>
		<key>cfoutput</key>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;cfoutput)</string>
			<key>end</key>
			<string>(?i)(&lt;/)(cfoutput)(&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cfoutput)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?=&gt;)</string>
					<key>name</key>
					<string>meta.tag.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>&gt;</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.cfml punctuation.definition.tag.end.cfml.test</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>meta.scope.cfoutput.cfml text.html.cfml</string>
					<key>end</key>
					<string>(?i)(?=&lt;/cfoutput&gt;)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#cfml-tags</string>
						</dict>
						<dict>
							<key>include</key>
							<string>text.html.cfml.cfoutput</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>cfproperty</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cfproperty)\b</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(/?&gt;)</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.tag.cfml meta.tag.property.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>cfquery</key>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;cfquery\b)</string>
			<key>end</key>
			<string>(?i)(&lt;/)(cfquery)(&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i)(&lt;)(cfquery)(?=\s|&gt;)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.cfml</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?=&gt;)</string>
					<key>name</key>
					<string>meta.tag.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#tag-generic-attribute</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>&gt;</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.cfml punctuation.definition.tag.end.cfml</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>meta.scope.cfquery.cfml source.sql</string>
					<key>end</key>
					<string>(?i)(?=&lt;/cfquery&gt;)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#hash-delimiters</string>
						</dict>
						<dict>
							<key>include</key>
							<string>#cfml-tags</string>
						</dict>
						<dict>
							<key>include</key>
							<string>source.sql</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>cfscript</key>
		<dict>
			<key>begin</key>
			<string>(?i)(&lt;)(cfscript)(\s+|&gt;)</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.cfml.script</string>
			<key>end</key>
			<string>(?i)(&lt;/)(cfscript)(&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.cfml</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comments</string>
				</dict>
				<dict>
					<key>include</key>
					<string>source.cfml.script</string>
				</dict>
			</array>
		</dict>
		<key>comments</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;!---.*?---&gt;</string>
					<key>name</key>
					<string>comment.line.cfml</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>&lt;!---</string>
					<key>end</key>
					<string>---&gt;</string>
					<key>name</key>
					<string>comment.block.cfml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#comments</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>hash-delimiters</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>##</string>
					<key>name</key>
					<string>constant.character.escape.hash.cfml</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>#</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>constant.character.hash.cfml.start</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>source.cfml.script</string>
					<key>end</key>
					<string>#</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>constant.character.hash.cfml.end</string>
						</dict>
					</dict>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>source.cfml.script</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>string</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#string-quoted-single</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#string-quoted-double</string>
				</dict>
			</array>
		</dict>
		<key>string-quoted-double</key>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.cfml</string>
				</dict>
			</dict>
			<key>end</key>
			<string>"(?!")</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.cfml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.cfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#hash-delimiters</string>
				</dict>
				<dict>
					<key>match</key>
					<string>""</string>
					<key>name</key>
					<string>constant.character.escape.quote.cfml</string>
				</dict>
			</array>
		</dict>
		<key>string-quoted-single</key>
		<dict>
			<key>begin</key>
			<string>'</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.cfml</string>
				</dict>
			</dict>
			<key>end</key>
			<string>'(?!')</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.cfml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.single.cfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#hash-delimiters</string>
				</dict>
				<dict>
					<key>match</key>
					<string>''</string>
					<key>name</key>
					<string>constant.character.escape.quote.cfml</string>
				</dict>
			</array>
		</dict>
		<key>tag-generic-attribute</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comments</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.cfml</string>
						</dict>
					</dict>
					<key>match</key>
					<string>\b([a-zA-Z0-9:-]+)\b</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.separator.key-value.cfml</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>string.unquoted.cfml</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(=)\s*((?:[^\s&lt;&gt;/'"{;]|/(?!/&gt;))+)</string>
				</dict>
				<dict>
					<key>match</key>
					<string>=</string>
					<key>name</key>
					<string>punctuation.separator.key-value.cfml</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#string</string>
				</dict>
			</array>
		</dict>
		<key>tags-with-script</key>
		<dict>
			<key>begin</key>
			<string>(?i)(&lt;)(cfset|cfreturn)(?=\s|/?&gt;)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.cfml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.cfml</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.cfml.script</string>
			<key>end</key>
			<string>(/?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.cfml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.cfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.cfml.script</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>embedding.cfml</string>
</dict>
</plist>
