<html>
<head>
</head>
<body>
<style>
html {
}
body {
	font-size: 10pt;
	margin: 0;
	padding: 2px;
}
h1 {
	margin: 0;
	font-size: 1em;
	background-color: #555;
	padding: 3px;
}
p {
	padding: 2px 0 0;
	margin: 2px 0 0;
}
a {
	color: #0000EE;
}
.params {
	background-color: #444;
	font-size: .9em;
	margin: 2px 0 0;
	padding: 2px;
}
.active {
	font-size: 1.1em;
	font-weight: bold;
	color: green;
}
.body {
	background-color: #444;
	font-size: .9em;
	margin: 1px 0 0;
	padding: 3px;
}
</style>
<h1>${header}</h1>
<div class="params">${description}</div>
<div class="body">${body}</div>
<div>${links}</div>
${pagination}
</body>
</html>
