<body>
<style>
html {
    color: ${color};
}
body {
    margin: 0;
    padding: 2px;
    background-color: ${background_color};
}
h1 {
    margin: 0;
    font-size: 1rem;
    padding: 3px;
    background-color: ${header_bg_color};
    color: ${header_color};
}
html.dark h1 {
    background-color: ${header_bg_color_dark};
    color: ${header_color_dark};
}
html.light h1 {
    background-color: ${header_bg_color_light};
    color: ${header_color_light};
}
p {
    padding: 2px 0 0;
    margin: 2px 0 0;
}
.params {
    font-size: 0.9rem;
    margin: 2px 0 0;
    padding: 2px;
    background-color: ${box_bg_color};
}
.active {
    font-size: 1rem;
    font-weight: bold;
    color: var(--greenish);
}
.required {
    color: ${color};
}
.optional {
    font-style: italic;
    color: ${paragraph_color};
}
.body {
    font-size: 0.9rem;
    margin: 1px 0 0;
    padding: 3px;
    background-color: ${pre_bg_color};
}
</style>
<h1>${header}</h1>
<div class="params">${description}</div>
<div class="body">${body}</div>
<div>${links}</div>
${pagination}
</body>
