<body>
<style>
body {
    margin: 0;
    padding: 0;
    background-color: ${side_color};
}
.container {
    margin-left: 3px;
    padding: 4px;
    padding-right: 10px;
    background-color: color(var(--background) blend(var(--foreground) 98%));
}
h1 {
    font-size: 1rem;
    margin: 4px 0;
    padding: 4px;
    background-color: color(var(--background) blend(var(--foreground) 95%));
}
h2 {
    font-size: 1rem;
    margin: 4px 0;
    padding: 4px;
}

a.plain-link {
    color: var(--foreground);
    text-decoration: none;
}

.path {
    margin: 4px 0;
    padding: 4px;
}
.path a {
    text-decoration: none;
}

.card {
    margin: 6px 0;
    padding: 0;
    background-color: color(var(--background) blend(var(--foreground) 90%));
    border-radius: 3px;
}
.card-header {
    margin: 0;
    padding: 4px;
    background-color: color(var(--background) blend(var(--foreground) 85%));
    border-radius: 3px 3px 0 0;
}
.card-header-empty {
    border-radius: 3px;
}
.card-body {
    margin: 0;
    padding: 4px;
    border-radius: 0 0 3px 3px;
}

.pre {
    margin: 4px 0;
    padding: 4px;
    background-color: color(var(--background) blend(var(--foreground) 80%));
    color: color(var(--foreground) blend(var(--background) 95%));
}
.code {
    background-color: var(--background);
    color: var(--foreground);
    padding: 0 2px;
    border-radius: 2px;
}

.pagination {
    color: #000000;
    background-color: #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.pagination a {
    color: #0000EE;
}

.engines {
    padding-top: 2px;
    padding-bottom: 2px;
}
.coldfusion {
    background-color: #069;
    color: #FFFFFF;
    border-radius: 3px;
}
.lucee {
    background-color: #449CAF;
    color: #FFFFFF;
    border-radius: 3px;
}
.openbd {
    background-color: #2FA5D7;
    color: #FFFFFF;
    border-radius: 3px;
}

.required {
    background-color: #FF4136;
    color: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 3px;
}

.entity-name-class {
    ${entity_name_class}
}
.entity-name-function {
    ${entity_name_function}
}
.variable-parameter-function {
    ${variable_parameter_function}
}
.variable-language {
    ${variable_language}
}
.constant-language {
    ${constant_language}
}
.storage-modifier {
    ${storage_modifier}
}
.storage-type {
    ${storage_type}
}
.string-quoted {
    ${string_quoted}
}
.entity-name-tag-cfml {
    ${entity_name_tag_cfml}
}
.entity-other-attribute-name {
    ${entity_other_attribute-name}
}
.entity-other-inherited-class {
    ${entity_other_inherited-class}
}
${styles}
</style>
<div class="container">
    <h1>${header}</h1>
    <div>${body}</div>
    <div>${links}</div>
</div>
${pagination}
</body>
