<body>
<style>
html {
    color: ${color};
}
body {
    margin: 0;
    padding: 0;
    background-color: ${side_color};
}
.container {
    margin-left: 3px;
    padding: 5px;
    padding-right: 10px;
    background-color: ${background_color};
}
h1 {
    font-size: 1rem;
    margin: 1px;
    padding: 2px;
    background-color: ${header_bg_color};
    color: ${header_color};
}
html.dark h1 {
    background-color: ${header_bg_color_dark};
    color: ${header_color_dark};
}
html.light h1 {
    background-color: ${header_bg_color_light};
    color: ${header_color_light};
}
h2 {
    font-size: 1rem;
    margin: 1px;
    padding: 2px;
    color: ${header_color};
}
a {
    margin: 1px;
    padding: 2px;
    color: ${link_color};
}
a.plain-link {
    text-decoration: none;
}
p {
    margin: 1px;
    padding: 2px;
    color: ${paragraph_color};
}
.doc-box {
    color: ${color_alt};
}
.property-box {
    margin: 3px 2px;
    padding: 5px 3px;
    background-color: ${box_bg_color};
    border-radius: 3px;
}
.method-box {
    margin: 5px 2px;
    padding: 6px 4px;
    background-color: ${box_bg_color};
    border-radius: 3px;
}
.method-args {
    margin: 5px;
    padding-left: 15px;
    font-size: 1rem;
    color: ${paragraph_color};
}
.pre {
    padding: 5px;
    background-color: ${pre_bg_color};
    color: ${paragraph_color};
}
.code {
    background-color: ${code_bg_color};
    color: ${paragraph_color};
}
.pagination {
    color: #000000;
    background-color: #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.pagination a {
    color: #0000EE;
}
.engines {
    padding-top: 2px;
    padding-bottom: 2px;
}
.coldfusion {
    background-color: #069;
    color: #FFFFFF;
    border-radius: 3px;
}
.lucee {
    background-color: #449CAF;
    color: #FFFFFF;
    border-radius: 3px;
}
.openbd {
    background-color: #2FA5D7;
    color: #FFFFFF;
    border-radius: 3px;
}
.required {
    background-color: #FF4136;
    color: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 3px;
}
${styles}
</style>
<div class="container">
<h1>${header}</h1>
<p>${description}</p>
<div>${body}</div>
<div>${links}</div>
</div>
${pagination}
</body>
